<!-- Side navigation -->
<div class="sidenav">
  <a routerLink="/dashboard">
    <img class="icon" src="./../assets/images/dashboards.png" alt="dashboards" title="DASHBOARD">
  </a>
  <a routerLink="/users">
    <img class="icon" src="./../assets/images/users.png" alt="users" title="USERS">
  </a>
  <a routerLink="/orders">
    <img class="icon" src="./../assets/images/order (2).png" alt="orders" title="ORDERS">
  </a>
  <a routerLink="/products">
    <img class="icon" src="./../assets/images/snowboards.png" alt="snowboards" title="SNOWBOARDS">
  </a>
  <a routerLink="/baskets">
    <img class="icon" src="./../assets/images/shopping-basket (1).png" alt="snowboards" title="BASKETS">
  </a>
</div>

<router-outlet></router-outlet>

<script src="../assets/js/jquery-3.4.1.min.js"></script>
<script src="../assets/js/popper.min.js"></script>
<script src="../assets/js/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
