<div class="container-fluid" id="formsBack">

  <div class="row">

    <div class="col-12">
      <strong>
        <h4 class="form-signin">Welcome to Admin site</h4>
      </strong>
      <strong>
        <h1 class="form-signin">DASHBOARD</h1>
      </strong>
      <div class="container">
        <div class="row">
          <div class="col-4">
            <a href="/users">
              <div class="card">
                <img src="https://img.icons8.com/color/240/000000/user-group-man-woman.png" class="card-img-top"
                  alt="...">
                <div class="card-body bg-primary">
                  <h5 class="card-title">Users</h5>
                  <h6 class="card-text">Customers: {{ numberOfCustomers() }}</h6>
                  <h6 class="card-text">Administrators: {{ numberOfAdmins() }}</h6>
                </div>
              </div>
            </a>
          </div>
          <div class="col-4">
            <a href="/products">
              <div class="card">
                <img src="https://img.icons8.com/color/240/000000/ski-rental.png" class="card-img-top" alt="...">
                <div class="card-body bg-primary">
                  <h5 class="card-title">Products</h5>
                  <h6 class="card-text">All products: {{ numberOfProducts() }}</h6>
                  <h6 class="card-text">Active products: {{ activeProducts() }}</h6>
                </div>
              </div>
            </a>
          </div>
          <div class="col-4">
            <a href="/orders">
              <div class="card">
                <img src="https://img.icons8.com/color/240/000000/purchase-order.png" class="card-img-top" alt="...">
                <div class="card-body bg-primary">
                  <h5 class="card-title">Orders</h5>
                  <h6 class="card-text">All orders: {{ numberOfOrders() }}</h6>
                  <h6 class="card-text">Active orders: {{ activeOrders() }}</h6>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
