<div id="formsBack">

  <div class="row">
    <div class="col-md-2 sideBar">
      <div>
        <img class="icon" src="./../assets/images/dashboards.png" alt="dashboards" routerLink="/admin/dashboard"
          data-toggle="tooltip" data-placement="right" title="Dasboard">
      </div>
      <div>
        <img class="icon" src="./../assets/images/users.png" alt="users" routerLink="/users" data-toggle="tooltip"
          data-placement="right" title="Users">
      </div>
      <div>
        <img class="icon" src="./../assets/images/order (2).png" alt="orders" routerLink="/orders" data-toggle="tooltip"
          data-placement="right" title="Orders">
      </div>
      <div>
        <img class="icon" src="./../assets/images/snowboards.png" alt="snowboards" routerLink="/products"
          data-toggle="tooltip" data-placement="right" title="Products">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div id="logreg-forms">
        <h1 class="form-signin dashboard">Welcome to Admin site</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card-deck">
      <div class="col-md-3">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
