h1 {
  color: #fff;
  text-align: center;
  margin: 50px;
  padding: 5px;
  font-size: 45px;
}

h4 {
  color: #fff;
  text-align: center;
  margin: 30px;
  padding: 5px;
}

.card {
  margin: auto;
  border-radius: 7px;
}

.card-img-top {
  width: 60%;
  height: 50%;
}

.card-body {
  color: #fff;
  border-radius: 7px;
}

.card-title {
  font-size: 28px;
}

.card-text {
  font-size: 16px;
}

a {
  text-decoration: none;
}

#report-button {
  margin-top: 60px;
  border-color: #fff;
}
