h4 {
  color: #fff;
  text-align: center;
  margin: 2rem;
}

h1 {
  color: #fff;
  text-align: center;
  margin: 3rem;
  font-size: 45px;
}

.card {
  border-radius: 7px;
}

.card-img-top {
  width: 60%;
  height: 50%;
}

.card-body {
  color: #fff;
  border-radius: 7px;
}

.card-title {
  font-size: 28px;
}

.card-text {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.report-button {
  border-color: #fff;
}
