<div id="formsBack">
  <div class="row">
    <div class="col-2 sideBar">
      <div>
        <img class="icon" src="./../assets/images/dashboards.png" alt="dashboards" routerLink="/dashboards">
      </div>
      <div>
        <img class="icon" src="./../assets/images/users.png" alt="users" routerLink="/users">
      </div>
      <div>
        <img class="icon" src="./../assets/images/order (2).png" alt="orders" routerLink="/orders">
      </div>
      <div>
        <img class="icon" src="./../assets/images/snowboards.png" alt="snowboards" routerLink="/products">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
    </div>
  </div>
</div>
