doctype html
head
  meta(charset='utf-8')
  title Admin page
  base(href='/admin/')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' type='image/x-icon' href='favicon.ico')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
// Page content

body.adminPage.adminBackBlue

  .main
    app-root
  script(src='/webshop-angular/runtime-es2015.js' type='module')
  script(src='/webshop-angular/polyfills-es2015.js' type='module')
  script(src='/webshop-angular/runtime-es5.js' nomodule='')
  script(src='/webshop-angular/polyfills-es5.js' nomodule='')
  script(src='/webshop-angular/styles-es2015.js' type='module')
  script(src='/webshop-angular/styles-es5.js' nomodule='')
  script(src='/webshop-angular/scripts.js')
  script(src='/webshop-angular/vendor-es2015.js' type='module')
  script(src='/webshop-angular/main-es2015.js' type='module')
  script(src='/webshop-angular/vendor-es5.js' nomodule='')
  script(src='/webshop-angular/main-es5.js' nomodule='')
