extends layout

block content

    .container.basket-container
      .row
        .col-12.text-center
          h1 #{title}
        
      .row.basket-small-res
        .col-10.offset-1
          table.table.table-striped
            thead
              tr
                th Picture
                th Name
                th Count
                th Price
            tbody
              tr
                td
                  img(src="/image/snowboards/burton-name-dropper.jpg", alt="mock" class="basket-pic")
                td Burton Name Dropper Snowboard 2020
                td 1
                td 469
        
            
      .row
        .col-12.text-left
          h2 Shipping & billing info
      .row
        .col-10.col-md-6
          form.form(action="", method="post")
            .form-group
              label Name
              input.form-control(name="name" required)
            .form-group
              label Email
              input.form-control(type="email" name="email" required)
              <small class="form-text text-muted">We will confirm your order here.</small>
            .form-group
              label Country
              input.form-control(name="country" required)
            .form-group
              label Address
              input.form-control(name="address" required)
            .form-group
              label Postal Code
              input.form-control(name="postalCode" required)
            .form-group
              label City
              input.form-control(name="city" required)
            .form-group
              label State or Province
              input.form-control(name="state" required)
            .form-group
              label Phone Number
              input.form-control(name="phone" required)
              <small class="form-text text-muted">We will call you only if there is an issue with your order.</small>
        
        .col-4.offset-2.basket-content
          .basket-summary.border.border-dark
            .row
              .col-md-6.text-left.ml-2
                h2 #{basket}
                p 1 item
              .col-5.text-right
                h2 469 $
            hr
            
            .row
              .col-12.mr-3.text-right
                h4 Burton Name Dropper Snowboard 2020
                h5 size: 158
                h5 price: 469
              
            hr            
            .row
              .col-12.col-md-6.text-left.ml-2
                h3 Order Total
              .col-12.text-right.mr-3
                h3 469 $
      
      .row.mb-3
        .col-6.text-right
            button.order-buttons.btn.btn-success.btn-large.mr-5(type="submit") Place Order
            a.order-buttons.btn.btn-danger.btn-large(href="/products") Cancel

    .container.carousel
      .row
        .col-12.text-center
          h2 Featured Products
      .row
        .new-arrival
          .titlebar
            .next-back
              span
                a.left.carousel-control(data-slide="prev" href="#Carousel")
                  <i class="fas fa-chevron-left"></i>
              span
                a.right.carousel-control(data-slide="next" href="#Carousel")
                  <i class="fas fa-chevron-right"></i>
          .arrival-product
            #Carousel.carousel.slide(data-ride="carousel")
              // Carousel items
              .carousel-inner
                .carousel-item.active
                  .arrival-item
                    ul
                      li
                        a(href="#")
                          img(src="/image/snowboards/burton-amplifier.jpg" alt="Burton Amplifier" style="max-width:100%;")
                        h4.text-center Burton Amplifier
                      li
                        a(href="#")
                          img(src="/image/snowboards/capita-equalizer.jpg" alt="Image" style="max-width:100%;")
                        h4.text-center Capita Equalizer
                      li
                        a(href="#")
                          img(src="/image/snowboards/gnu-antigravity.jpg" alt="Image" style="max-width:100%;")
                        h4.text-center Gnu Antigravity
                      li
                        a(href="#")
                          img(src="/image/snowboards/jones-flagship.jpg" alt="Image" style="max-width:100%;")
                        h4.text-center Jones Flagship
                .carousel-item
                  .arrival-item
                    ul
                      li
                        a(href="#")
                          img(src="/image/snowboards/k2-manifest.jpg" alt="Image" style="max-width:100%;")
                        h4.text-center K2 Manifest
                      li
                        a(href="#")
                          img(src="/image/snowboards/lib-tech-double-dip.jpg" alt="Image" style="max-width:100%;")
                        h4.text-center Lib Tech Double Dip
                      li
                        a(href="#")
                          img(src="/image/snowboards/nidecker-micron.jpg" alt="Image" style="max-width:100%;")
                        h4.text-center Nidecker Micron
                      li
                        a(href="#")
                          img(src="/image/snowboards/nitro-suprateam.jpg" alt="Image" style="max-width:100%;")
                        h4.text-center Nitro Suprateam
                .carousel-item
                  .arrival-item
                    ul
                      li
                        a(href="#")
                          img(src="/image/snowboards/ride-berzerker.jpg" alt="Image" style="max-width:100%;")
                        h4.text-center Ride Berzerker
                      li
                        a(href="#")
                          img(src="/image/snowboards/rome-heist.jpg" alt="Image" style="max-width:100%;")
                        h4.text-center Rome Heist
                      li
                        a(href="#")
                          img(src="/image/snowboards/salomon-oh-yeah.jpg" alt="Image" style="max-width:100%;")
                        h4.text-center Salomon Oh Yeah
                      li
                        a(href="#")
                          img(src="/image/snowboards/ride-helix.jpg" alt="Image" style="max-width:100%;")
                        h4.text-center Ride Helix

    script(src="/javascripts/scroll.js")
          
