extends layout

block content
  .noProductPage
    .container
      .row
        .col-1.offset-1
          img.snowboarderIcon(src="/image/icons/snowboarding (2).png", alt="snowborder icon")
        .row
          .col-10.offset-4.text-white.amaticText
            h1 Sorry, no snowboards was found!
          .col-6.offset-5
            a.btn.btn-lg.btn-block.text-white.backToButton.basketButton(href="/products") Back to searching?