<!-- <div class="row mt-5 text-light">
  <div class="col-12">
    <h4>Add new order</h4>
    <button class="btn btn-info" routerLink="new">New order</button>
  </div>
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 title-design">
      <strong>
        <h1 class="form-signin">ORDERS</h1>
      </strong>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 tableBack">
      <table class="table text-active mt-3">
        <thead class="">
          <tr class="row">
            <th class="col-2">Customer</th>
            <th class="col-2">Order Date</th>
            <th class="col-2">Quantity</th>
            <th class="col-2">Total price</th>
            <th class="col-2" (click)="setSorterKey('status')">
              Status
              <!-- <select>
                <option>Active</option>
                <option>All</option>
              </select> -->
            </th>
            <th class="col-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="row" *ngFor="let item of allData; let i = index">
            <td class="col-2">{{item.firstName}} {{item.lastName}}</td>
            <td class="col-2">{{item.orderDate | datePipe }}</td>
            <td class="col-2">{{productsQuantityArr[i].productQuantity}}</td>
            <td class="col-2">{{totalPriceArr[i].totalPrice}}</td>
            <td class="col-2">
              <select *ngIf="item.status!='deleted'" name="status" class="custom-select"
                (change)="onChange($event.target.value, item)">
                <option *ngFor="let status of statusArray" value="{{status}}" [selected]="status == item.status">
                  {{status}}</option>
              </select>
              <p *ngIf="item.status=='deleted'" class="text-inactive">deleted</p>
            </td>
            <td class="col-2 btn-group">
              <!-- <button type="button" class="btn btn-success" routerLink="/orders/edit/{{item.orderId}}">Edit</button> -->
              <!-- <button class="btn btn-danger" type="button" (click)="onDelete(item)">Delete</button> -->
              <button class="btn btn-info" (click)="toggleView(item.orderId)">Details</button>
              <button class="btn btn-warning" (click)="onStatusChange(item)">Inactivate</button>
            </td>
            <div class="expandRow" id="expandRow{{item.orderId}}">
          <tr>
            <th class="expandedData">Product</th>
            <th class="expandedData">Unit price</th>
            <th class="expandedData">Quantity</th>
            <th class="expandedData"></th>
          </tr>
          <tr *ngFor="let row of orderDetails">
            <td class="expandedData" *ngIf="row.order==item.orderId">{{row.name}}</td>
            <td class="expandedData" *ngIf="row.order==item.orderId">{{row.unitPrice}}</td>
            <td class="expandedData" *ngIf="row.order==item.orderId">{{row.quantity}}</td>
            <td class="expandedData" *ngIf="row.order==item.orderId"><button class="btn btn-danger" type="button"
                (click)="onDelete(row)">Delete</button></td>
          </tr>
    </div>
    </tr>
    </tbody>
    </table>
  </div>
</div>
</div>
