<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary" routerLink="new">New</button>
    </div>
    <div class="col-12">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th *ngFor="let row of allData[0] | keyvalue">{{row.key}}</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allData">
            <td *ngFor="let data of item | keyvalue">{{data.value}}</td>
            <td><button type="button" class="btn btn-success" routerLink="/products/edit/{{item.ID}}">Edit</button></td>
            <td><button class="btn btn-danger" type="button" (click)="onDelete(item)">Delete</button></td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>
