<div class="container-fluid">
  <div class="row mt-5 mb-5">
    <div class="col-1">
      <h1 class="">SNOWBOARDS</h1>
    </div>
    <div class="col-2 offset-9">
      <button class="btn btn-primary btn-block" routerLink="new">Add new product</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 tableBack">
      <table class="table text-active">
        <thead class="">
          <tr>
            <th *ngFor="let row of allData[0] | keyvalue">{{row.key}}</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allData">
            <td *ngFor="let data of item | keyvalue">{{data.value}}</td>
            <td><button type="button" class="btn btn-success" routerLink="/products/edit/{{item.ID}}">Edit</button></td>
            <td><button class="btn btn-danger" type="button" (click)="onDelete(item)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
