<div class="container-fluid">
  <div class="row">
    <div class="col-12 title-design">
      <strong>
        <h1 class="form-signin">SNOWBOARDS</h1>
      </strong>
    </div>
  </div>
  <div class="row mt-2 mb-4">
    <div class="col-2 offset-10">
      <button class="btn btn-primary btn-block" routerLink="new">Add new product</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 tableBack">
      <table class="table text-active">
        <thead class="">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Purpose</th>
            <th>Shape</th>
            <th>Size</th>
            <th>Postfix</th>
            <th>Price</th>
            <th>Picture</th>
            <th>Details</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let item of allData">
          <tr *ngIf="item.postfix!='deleted'">
            <td>{{item.ID}}</td>
            <td>{{item.name}}</td>
            <td>{{item.brand}}</td>
            <td>{{item.purpose}}</td>
            <td>{{item.shape}}</td>
            <td>{{item.size}}</td>
            <td>{{item.postfix}}</td>
            <td>{{item.price}}</td>
            <td>{{item.picture}}</td>
            <td>
              <button class="btn btn-light" (click)="showDetails(item.ID)">Details</button>
              <span id="details{{item.ID}}" class="noShow">{{item.details}}</span></td>
            <td class="btn-group">
              <button type="button" class="btn btn-info" routerLink="/products/edit/{{item.ID}}">Edit</button>
              <button class="btn btn-danger" type="button" (click)="onDelete(item)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
