<div class="container">
  <div class="row">
    <div class="col-12">
      Valami
      <form>
        <!--<div>
          <div class="form-group" *ngFor="let input of data[0] | keyvalue ">
            <label for="{{input.key}}">{{input.key}}</label>
            <input type="text" class="form-control" id="{{input.key}}"
              placeholder="{{input.key}}" [(NgModul)]>
          </div>
        </div>-->

          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
