<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Edit Product</h1>
      <form (submit)="onSubmit($event)">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name"
            placeholder="Name" [(ngModel)]="addedProduct.name">
        </div>
        <div class="form-group">
          <label for="brand">Brand</label>
          <input type="text" class="form-control" id="brand" name="brand"
            placeholder="Brand" [(ngModel)]="addedProduct.brand">
        </div>
        <div class="form-group">
          <label for="purpose">Purpose</label>
          <input type="text" class="form-control" id="purpose" name="purpose"
            placeholder="Purpose" [(ngModel)]="addedProduct.purpose">
        </div>
        <div class="form-group">
          <label for="shape">Shape</label>
          <input type="text" class="form-control" id="shape" name="shape"
            placeholder="Shape" [(ngModel)]="addedProduct.shape">
        </div>
        <div class="form-group">
          <label for="size">Size</label>
          <input type="number" class="form-control" id="size" name="size"
            placeholder="Size" [(ngModel)]="addedProduct.size">
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" class="form-control" id="price" name="price"
            placeholder="Price" [(ngModel)]="addedProduct.price">
        </div>
        <div class="form-group">
          <label for="picture">Picture</label>
          <input type="text" class="form-control" id="picture" name="picture"
            placeholder="Picture" [(ngModel)]="addedProduct.picture">
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
        <button type="button" class="btn btn-warning"
          (click)="onCancel()">Cancel</button>
      </form>

    </div>
  </div>
</div>
