@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Josefin+Sans|Roboto+Condensed&display=swap');

/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Josefin Sans', sans-serif; */

.primary {
  color: #3d95c1;
}

.secondary {
  color: #97d0E8;
}

.success {
  color: #dae2e7;
}

.warning {
  color: #c39d99;
}


.amaticText {
  font-family: 'Amatic SC', cursive;
}

body {
  margin: 0;
  border: 0;
  min-height: 100%;
  position: relative;
  font-family: 'Big Shoulders Display', cursive;
}

nav a {
  font-size: 120%;
}

.page404Div {
  margin: 0;
  border: 0;
  height: 100vh;
  background-image: url("./../image/photos/photo-1527657580387-0f1e1aeba8b9 (4).jpg");
  background-size: cover;
  background-position-y: -75px;
}

.backToButton {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
}

.backToButtonPos {
  position: relative;
  left: 100px;
  top: 450px;
}


.backToButton:hover {
  color: #3d95c1;
  border-color: #c39d99;
  cursor: pointer;
}

.noProductPage {
  background-color: #dae2e7;
  height: 100vh;
  padding: 50px;
}

.snowboarderIcon {
  width: 200px;
}

.hero-container {
  position: relative;
  widows: 100%;
}

.hero-container .hero-btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media screen and (max-width: 1100px) {
  .hero-btn {
    font-size: 15px;
    width: 170px;
  }
}

@media screen and (max-width: 900px) {
  .hero-btn {
    font-size: 13px;
    width: 150px;
  }
}

@media screen and (max-width: 810px) {
  .hero-container .hero-btn {
    font-size: 9px;
    top: 87%;
    width: 120px;
  }
}

@media screen and (max-width: 500px) {
  .hero-container .hero-btn {
    font-size: 8px;
    height: auto;
    top: 85%;
    width: 110px;
  }
}

.hero-banner {
  width: 100%;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.custom-facebook-icon,
.custom-twitter-icon,
.custom-instagram-icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  text-align: center;
}

.custom-facebook-icon {
  background: #4267B2;
}

.custom-twitter-icon {
  background: #28AAE1;
}

.custom-instagram-icon {
  background: #F21E00;
}

.custom-facebook-icon i,
.custom-twitter-icon i,
.custom-instagram-icon i {
  color: #fff;
  line-height: 100px;
}

.page-title {
  text-align: center;
}

.card {
  margin-bottom: 20px;
  height: 432px;
}


.uniquePic {
  width: 100%;
  min-height: 200px;
}

.brandIcon {
  width: 20%;
  min-height: 20px;
}

.prodNumber {
  width: 40px;
  padding: 3px;
}

.basketButton {
  font-size: 20px;
  padding: 3px;
}

.basketButton:hover {
  background-color: #3d95c1;
  border-color: #3d95c1;
}

.reviewsDiv {
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.toggleDiv {
  background-color: #dae2e7;
}

.toggleButtons {
  margin: 10px;
}

.card-body a {
  position: absolute;
  bottom: 20px;
}

.basket-pic {
  height: 50px;
  width: 50px;
}

.order-buttons {
  width: 100px;
}

.fixed-position {
  position: fixed;
  top: 60px;
  z-index: 1000;
}


.absolute-position {
  position: relative;
  top: 100px;
}




.basket-summary {
  background-color: #fff;
  height: auto;
  transition: all 0.2s;
  width: 400px;
  ;
}

.basket-small-res {
  display: none;
}

@media screen and (max-width: 768px) {
  .basket-summary {
    display: none;
  }

  .basket-small-res {
    display: block;
  }
}

@media screen and (max-width: 1030px) {
  .basket-summary {
    width: 350px;
  }
}

@media screen and (max-width: 900px) {
  .basket-summary {
    width: 300px;
  }
}

.titlebar {
  overflow: hidden;
}

.titlebar .next-back {
  float: right;
  margin: 12px 0;
}

.titlebar .next-back span a {
  font-size: 12px;
  text-transform: uppercase;
  font-family: Poppins;
  color: #222222;
}

.titlebar .next-back span a:hover {
  text-decoration: none;
  color: #888888;
}

.titlebar .next-back span {
  border-right: 1px solid #000;
  padding: 0 8px 0 5px;
  display: inline-block;
  line-height: 10px;
}

.titlebar .next-back span:last-child {
  border-right: none;
  padding-right: 0;
}

/*.carousel-inner > .carousel-item {*/
/*  -webkit-transition: -webkit-transform 1.2s ease-in-out !important;*/
/*  -o-transition: -o-transform 1.2s ease-in-out !important;*/
/*  transition: transform 1.2s ease-in-out !important;*/
/*}*/

.carousel {
  margin-bottom: 0;
  padding: 0 0 30px 0;
}

.arrival-product .arrival-item ul {
  margin: 0;
  padding: 0;
}

.arrival-product .arrival-item ul li {
  float: left;
  list-style: none;
  width: 23%;
  overflow: hidden;
  margin-right: 2.6%;
}

.arrival-product .arrival-item ul li:last-child {
  margin-right: 0;
}

.user-name {
  color: #f00;
  margin: 0px 10px 0px 10px;
}

.basket {
  height: 38px;
  position: relative;
  width: 38px;
  margin: 0px 10px 0px 0px;
}

.basket-link {
  position: relative;
}

.basket-link span {
  background-color: #F21E00;
  border-radius: 999px;
  height: 25px;
  width: 25px;
  position: absolute;
  top: -15px;
  right: 2px;
  text-align: center;
  color: #dae2e7;
}

.explode {
  animation: explosionEffect 1s;
}

@keyframes explosionEffect {
  0% {
    transition: 0.5s;
    transform: scale(2)
  }

  100% {
    transition: 0.5s;
    transform: scale(1)
  }
}

@media screen and (max-width: 768px) {
  .order-buttons {
    margin: 0px !important
  }